@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 100dvh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pru { border: 4px solid red}
.pru2 { border: 4px solid green}
.center { display: flex; align-items: center; justify-content: center; }
.vstack {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  height: var(--vh);
  flex-direction: column;
  min-width: 320px;
  overflow: auto;
  color: #ffffffde;
  place-items: center;
  background-color: #242424;
}
#root {
  /* height: var(--vh); */
  /* overflow: hidden; */
  overflow-x: hidden;
  height: 100%;
  width: 100dvw;
  padding: 0px;
  @apply vstack
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
